* {
 margin: 0;
 padding: 0;
}
body {
 align-items: center;
 justify-content: center;
 text-align: center;
 height: 100vh;
}

#main-container {
color: red;
height: 100%;
background-repeat: no-repeat, repeat;
 background-size: cover; 
 
}

#form-container {
 display: grid;
}